<section class="pages">
  <a href="#/collage.js">
    <img ng-src="resource/image/my-work/collage.png"/>
    <div class="caption two-line">
      Futuristic Collages
    </div>
  </a>

  <a href="#/thrill.js">
    <img ng-src="resource/image/my-work/thrill.png"/>
    <div class="caption two-line">
      Distributed Testing
    </div>
  </a>

  <a href="#/queen.js">
    <img ng-src="resource/image/my-work/Queen.png"/>
    <div class="caption two-line">
      Distributed Computing (?)
    </div>
  </a>
  
  <a href="#/samelove.us">
    <img ng-src="resource/image/my-work/samelove.png"/>
    <div class="caption">
      Coding for Good
    </div>
  </a>

  <a href="#/t-mobile-prepaid">
    <img ng-src="resource/image/my-work/tmo-prepaid-work.jpg"/>
    <div class="caption">
      Big Website
    </div>
  </a>

  <a href="#/t-mobile-testdrive">
    <img ng-src="resource/image/my-work/tmo-testdrive.jpg"/>
    <div class="caption">
      Fancy Web App
    </div>
  </a>

  <a href="#/flextag">
    <img ng-src="resource/image/my-work/flextag.png"/>
    <div class="caption two-line">
      Data Collection Tool
    </div>
  </a>

  <a href="#/sun-clock">
    <img ng-src="resource/image/my-work/find-the-sun.jpg"/>
    <div class="caption">
      Sun Clock
    </div>
  </a>

  <a href="#/europe-trip-2010">
    <img ng-src="resource/image/my-work/europe-trip.jpg"/>
    <div class="caption">
      Trip Planning
    </div>
  </a>
</section>