<section class="top-banner" style="position:relative;">
  <img style="width:2375px;" src="resource/image/my-work/space-banner.jpg" />

<iframe 
	frameBorder="0"
	seamless
	style="margin: 0 auto; width:700px;  height: 100px; position:absolute; top:40px; left:50%; margin-left:-350px;"
	src="pre-march-2013/post/finding-the-sun-with-javascript/sunrise-sunset-clock/index.html"
></iframe>

</section>
<section style="padding:20px; margin:0 auto; width:450px;">
	<p class="lead">
		When's the Next Sunrise/Sunset?
	</p>
	<p>
        This "clock" shows you how much time is left until the next sunrise or sunset.
        I built it years ago, but still find it handy. 

        It just does math to come up with the information, courtesy of the <a href="http://www.esrl.noaa.gov/gmd/grad/solcalc/">solar calculator by NOAA</a>. 
    </p>
   

    <p>
        Click on the underlined text to change the location.
    </p>
</section>
