{% extends "base.html" %}
{% block title %}{% endblock %}
{% block scripts %}
    <script language="javascript" type="text/javascript" src="http://www.google.com/jsapi?key=ABQIAAAArwjBsqpQBqZf_Vw6Z0iVuRS4-pfS7z3-gHFHXWOwWueP17_RrhRd1nA-JiOxps0nujxsBhzpyuTK3w"></script>    
    <script language="javascript" type="text/javascript">
		google.load("webfont", "1");
		google.setOnLoadCallback(function() {
			WebFont.load({
			  google: {
				families: ['Vollkorn','Cardo']
			  }});
		});
	</script>
{% endblock %}
{% block stylesheets %}
	<link href="/media/posts/base.css" media="screen" rel="stylesheet" type="text/css" />
{% endblock %}
{% block body %}
<div id="Header"><a href="/">Ozan Turgut's Website</a></div>
<div id="Content" class="base">
    <div>
    {% block content %}
    {% endblock %}
    </div>
</div>
{% endblock %}
