{% extends "base.html" %}
{% block title %}{% endblock %}
{% block basescripts %}
<script src="/static/script/lib/jquery-1.7.2.min.js"></script>
{% block scripts %}{% endblock %}
{% endblock %}
{% block basestylesheets %}
{% block stylesheets %}{% endblock %}
{% endblock %}
{% block body %}
<h1 style="text-align:center; padding:0px; margin:0px; background-color:white; background-color:#eee; box-shadow:0px 0px 15px 0px #333; border-bottom:1px solid #ddd; margin-bottom:15px;">
	<a style="text-shadow:0 -1px 1px #AAA,0px 1px 2px #EEE; display:block; padding:8px; color:black; font-weight:normal; font-size:26px; font-family:Helvetica,Arial;" href="http://oztu.org/">Ozan Turgut's Website</a>
</h1>
<div id="Body">
    {% block content %}
    {% endblock %}
</div>
{% endblock %}