{% extends "site/base.html" %}

{% block title %}Ozan Turgut's Website{% endblock %}
{% block head %}{{object.head|safe}}{% endblock %}
{% block scripts %}
	<script src="/static/script/index.js"></script>
{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="/static/style/index.css">
{% endblock %}

{% block content %}
<div id="AboutMe">
	<header>
		<h2>About Me</h2>
	</header>
	<p>
		<img id="ProfileImage" src="/static/image/me.jpg"/>
		
		I love math and I love creating. Computer science allows me to do both, so I study and practice it.</p>
		
		<p>I'm experienced in building large websites and beautiful apps. I
		currently work with <a href="http://www.turn.com">Turn</a> in San Francisco.
	</p>
	<p>You can find me at <a href="http://www.linkedin.com/in/ozanturgut">LinkedIn</a>, <a href="http://www.facebook.com/ozanturgut">Facebook</a>, <a href="#">GitHub</a> or <a href="mailto:ozanturgut@gmail.com">ozanturgut@gmail.com</a>.</p>
</div>
<div id="Posts">
	<header>
		<h2>Posts</h2>
	</header>
	<div class="scrollableCave">
		<ul class="scroller horizontalScroller">
			{% for post in posts %}
			<li>
				<a class="imgWrapper" href="{% if post.url %}{{post.url}}{% else %}/post/{{post.slug}}/{% endif %}">
					<img src="/static/upload/{{ post.title_card }}"/>
					<h3>
						{{ post.title }}
					</h3>
				</a>
			</li>
			{% endfor %}
		</ul>
	</div>
</div>
<div id="Projects">
	<header>
		<h2>My Work</h2>
	</header>
	<div class="scrollableCave">
		<ul class="scroller horizontalScroller">
			{% for project in projects %}
			<li>
				<a class="imgWrapper" href="{% if project.url %}{{project.url}}{% else %}/post/{{project.slug}}/{% endif %}">
					<img src="/static/upload/{{ project.title_card }}"/>
					<h3>
						{{ project.title }}
					</h3>
				</a>
			</li>
			{% endfor %}
		</ul>
	</div>
</div>
{% endblock %}