<!doctype html>
<html ng-app="oztu">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Ozan Turgut's Website</title>
    
    <meta name="viewport" content="width=820, initial-scale=auto, user-scalable=yes">
    <meta property="fb:admins" content="1582950001" />
    <meta property="og:image" content="http://oztu.org/resource/fb-image.jpg"/>
    <meta property="og:title" content="Ozan Turgut's Website"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="http://oztu.org/"/>
    <meta property="og:site_name" content="Ozan Turgut's Website"/>
    <meta property="og:description" content="Ozan is a software engineer in Silicon Valley."/>
    
    <link href="resource/favicon.png" rel="shortcut icon" />
    <link href='dist/style.css' rel='stylesheet' type='text/css'>

    <!--[if lt IE 9]><script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
  </head>
  <body ng-controller="pages" class="{{pageTitle && 'page-view' || ''}}">
    <header class="site-header">
      <a href="/#/"><h1>Ozan Turgut</h1></a>
      <h2 class="{{pageTitle && 'visible' || ''}}">{{pageTitle}}</h2>
    </header>

    <section class="pictures-of-me">
      <img 
        ng-repeat="src in ['me2.jpg','friends.jpg','couch-surfing.jpg','calm.jpg','daft-code.jpg','artsy.jpg','motivational-poster-candidate.jpg','weird.jpg']" 
        ng-src="resource/image/me/{{src}}" 
      />
    </section>

    <section class="about-me">
      <section ng-click="goHome()" class="about-me-words">
        <p class="lead">I'm a software engineer in Silicon Valley.</p>
        <p>
          I love math and I love building things. Computer science allows 
          me to do both, so I study and practice it. 
        </p>
        <p>
          I'm good at building web applications, I'm currently building them 
          at <a href="http://www.turn.com/">Turn</a> to make advertising 
          better.
        </p>
        <p>
          Find me at <a href="http://www.linkedin.com/in/ozanturgut">LinkedIn</a>, 
          <a href="http://www.facebook.com/ozanturgut">Facebook</a>, 
          <a href="https://github.com/ozanturgut">GitHub</a> or 
          <a href="mailto:ozanturgut@gmail.com">ozanturgut@gmail.com</a>.
        </p>
      </section>

      <ng-view></ng-view>
    </section>

    <script src="dist/script.js"></script>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-4017245-5']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>

    <!--[if !IE]><script>
    (function() {
      var doc = document
          addEvent = 'addEventListener',
          type = 'gesturestart',
          qsa = 'querySelectorAll',
          scales = [1, 1],
          meta = qsa in doc ? doc[qsa]('meta[name=viewport]') : [];

      function fix() {
        meta.content = 'width=device-width,minimum-scale=' + scales[0] + ',maximum-scale=' + scales[1];
        doc.removeEventListener(type, fix, true);
      }

      if ((meta = meta[meta.length - 1]) && addEvent in doc) {
        fix();
        scales = [.25, 1.6];
        doc[addEvent](type, fix, true);
      }
    }());
    </script><![endif]-->
  </body>
</html>
