@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Sans'), local('NotoSans'), url(http://themes.googleusercontent.com/static/fonts/notosans/v1/LeFlHvsZjXu2c3ZRgBq9nD8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Serif'), local('NotoSerif'), url(http://themes.googleusercontent.com/static/fonts/notoserif/v1/eCpfeMZI7q4jLksXVRWPQxsxEYwM7FgeyaSgU71cLG0.woff) format('woff');
}

//http://colorschemedesigner.com/#0031T--rGFZLt
$primary: #630000;
$primaryText: white;
$primaryAnchor: #F7A8A8;
$primaryAnchorHighlight: #F7A8A8;

body, html{
	background-color: $primary;
	color:$primaryText;
	height:100%;
	font-family: 'Noto Sans', sans-serif;

	a{
		outline: 0;
		color:$primaryAnchor;

		&:hover{
			color:$primaryAnchorHighlight;
		}
	}
	&.nav-expanded {
		overflow:hidden;
	}
}


.nav-expanded .nav{
	height:100%;
	padding-right:0px;
	overflow-y:auto;

	.expand-toggle{
		opacity:0;
	}
}

.nav{
	background-color: $primary;
	position:absolute;
	z-index:100;
	top:0px;
	left:0px;
	right:0px;
	height:210px;
	padding-bottom:20px;
	overflow:hidden;
	-webkit-transition: all 0.2s;
	border-bottom:5px solid #DD0000;
	padding-right:195px;

	a{
		white-space: normal;
		color:$primaryAnchor;
		outline: 0;
		position:relative;
		display:inline-block;
		margin:15px;
		cursor:pointer;
		height:190px;
		width:150px;
		vertical-align: middle;

		&.expand-toggle{
			-webkit-transition: all 0.2s;
			position:absolute;
			top:0px;
			right:15px;
			opacity:1;
			z-index:-1;
		}

		&.active, &:hover{
			text-decoration: none;
			color:$primaryAnchorHighlight;

			img{
				border-color: yellow;
			}
			.caption{
				color: yellow;
			}
		}

		img{
			-webkit-transition: all 0.2s;
			width:150px;
			height:150px;
			border-radius:100px;
			border: 5px solid $primaryAnchor;
		}

		.caption{
			-webkit-transition: all 0.2s;
			width:150px;
			color:$primaryAnchor;
			text-align:center;
			height:44px;
			line-height:44px;
			font-size:18px;

			&.two-line{
				line-height:22px;
			}
		}
	}
}

.page-container{
	margin-top:230px;

	a{
		color:#f2ff64;

		&:hover{
			color:#f2ff64;
		}
	}

	font-size:16px;
	line-height:22px;
}

.description-section{
	margin:0 auto; 
	width:550px; 
	padding:20px 25px;

	p.lead{
		font-size:22px; margin-bottom:12px;
	}
}

.top-banner{
	border-bottom:5px solid #DD0000;
	white-space:nowrap;
	overflow:hidden;
	height:350px;

	text-align:center;
	img{
		height:350px;
		max-width:none;
	}
}